<ion-header>
  <ion-toolbar>
    <ion-title>Video List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let video of videoList | async" routerLink="/detail/{{video.id}}">
    <ion-card-header>{{video.videoTitle}}</ion-card-header>
    <ion-card-content>Creator: {{video.videoCreator}}</ion-card-content>
  </ion-card>
</ion-content>
